 @font-face {
    font-family: 'Lora', serif;
 }
 @font-face {
    font-family: 'Oxygen', sans-serif;
 }
 body{
    height: 2689px;
    width: 1440px;
 }
 p#Escape-1{
    width: 92px;
    height: 26px;
    top: 20px;
    left: 250px;
    font-family: Lora;
    font-size: 26px;    
  }

 p#Home-1{  
    width: 39px;
    height: 20px;
    top: 47px;
    left: 833px;
    font-family: Oxygen;
    font-size: 12px;
  }
  
  p#Categories-1{ 
    width: 39px;
    height: 20px;
    top: 47px;
    left: 913px;
    font-family: Oxygen;
    font-size: 12px;   
  }

  p#About-1{
    width: 39px;
    height: 20px;
    top: 47px;
    left: 1031px;
    font-family: Oxygen;
    font-size: 12px;   
  }

  p#Contact-1{
    width: 39px;
    height: 20px;
    top: 47px;
    left: 1112px;
    font-family: Oxygen;
    font-size: 12px;   
  }
h1#Headline{
    font-family: Lora;
    width: 498px;
    height: 51px;
    left: 471px;
    top: 156px; 
    font-size: 50px;

}
